.app-container {
  display: flex;
  background-color: rgb(230, 230, 230);
  height: 100vh;
  overflow: hidden;
}

.calculator {
  display: flex;
  width: 70%;
  border: 1px solid black;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.history {
  width: 30%;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: auto;
}

.calculator-header {
  height: 100px;
  font-size: xxx-large;
  text-align: right;
  margin-right: 20px;
  padding-bottom: 40px;
  overflow: auto;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}

.calculator-buttons button {
  background-color: white;
}

.calculator-buttons button:hover {
  filter: brightness(85%);
}

.calculator-buttons button:nth-child(-n + 4) {
  background-color: rgb(241, 241, 241);
}

.calculator-buttons button:nth-child(4n) {
  background-color: rgb(241, 241, 241);
}

.history-item {
  text-align: right;
  padding: 10px 10px 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 14px;
}

.history-answer {
  float: right;
  font-weight: 600;
}
